@model List<Department>
@{
	
	Layout = "~/Views/Shared/_LayoutOrm.cshtml";
}

<h2>Department Search</h2>

@using (Html.BeginForm()) { 

<div class="row">
	<div class="col-md-12">
		<div class="form-inline">
			<div class="form-group">
				<label class="col-md-4 control-label">Names :</label>
				<div class="col-md-8">
					@Html.TextBox("DeptName", null, new { @class="form-control" })
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Phone :</label>
				<div class="col-md-8">
					@Html.TextBox("Phone", null, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div>
					<input type="submit" class="btn btn-default" value="Search" />
					<a href="DeptAdd" class="btn btn-default">Add new Department</a>
				</div>
			</div>
		</div>
	</div>
</div>
<br />

<div class="row">
	<div class="col-md-12" id="holder">
		
		<table class="table">
			<tr>
				<th>Department ID</th>
				<th>Department Name</th>
				<th>Phone</th>
				<th>Actions</th>
			</tr>
			@if (Model != null) { 
				foreach (Department item in Model)
				{
					<tr>
						<td>@item.DepartmentId</td>
						<td>@item.DeptName</td>
						<td>@item.Phone</td>
						<td>
							<a href="@Url.Action("DeptEdit", new { id=item.DepartmentId })">Edit</a> |
							<a href="@Url.Action("DeptDetails", new { id = item.DepartmentId })">Details</a>
						</td>
					</tr>
				}
			}
		</table>
		<div>
			@Html.Hidden("page")
			<nav>

				<ul class="pagination">
					@if (Model != null) {
						for (int i = 1; i <= ViewBag.PageCount; i++) { 
							<li><a href="#">@i</a></li>
					}
					}
				</ul>
			</nav>
		</div>
	</div>
</div>

}
@section scripts{

	<script>

		$(function () {

			$(".pagination a").on("click", function () {
				$("#page").val($(this).text());
				$("form").submit();
			});

		});

	</script>
}